<!-- <p>zone-image works!</p>

<div id="zoneImages"></div>

<button (click)="convertPDF()">Convert to PDF</button> -->

<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pdf</title>
    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            margin: 0;
            padding: 0;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        table img {
            max-width: 100%;
        }
    </style>
</head>

<body>
    <table style="margin: 0 auto; width: 600px;overflow:hidden; table-layout: fixed; page-break-after: always;">
        <thead>
            <tr>
                <th colspan="2">
                    <img src="./logo.png" alt="logo" width="100%">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" style="text-align: center; border-bottom:2px solid #a7a7a7; padding-bottom: 20px;">
                    <h3 style="margin: 0;">PowerField Energy</h3>
                    <p style="font-size: 14px; margin: 0;margin-top:10px;">301 Park AVE Site 100</p>
                    <p style="font-size: 14px; margin: 0; margin-top:10px;">Fallas Church, VA 22046</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding-top: 20px;">
                    <p style="font-size: 14px; margin: 0; font-weight: bold;">PowerRack Array- Product List</p>
                    <p style="font-size: 14px;color: #00B0EE;">Project:Test</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size: 14px; font-weight: bold;">
                        <u>PREPARED FOR</u>
                    </p>
                    <p style="font-size: 14px; ">
                        Company Name
                    </p>
                    <p style="font-size: 14px; ">
                        Uday Veer
                    </p>
                </td>
                <td style="text-align: right;">
                    <p style="font-size: 14px; font-weight: bold;margin: 0;">
                        <u>PREPARED DATE</u>
                    </p>
                    <p style="font-size: 14px; margin:0; margin-top:5px;">
                        27/09/23
                    </p>
                    <p style="font-size: 14px; font-weight: bold;margin:0; margin-top:5px;">
                        <u>SYSTEM SIZE</u>
                    </p>
                    <p style="font-size: 14px; margin:0; margin-top: 5px;">
                        40.04kw
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right;">
                    <p style="font-size: 14px; font-weight: bold;">
                        <u>
                            MODULE
                        </u>
                    </p>
                    <p style="font-size: 14px; margin:0; margin-top:5px;">
                        Manufacturer: Solarever USA
                    </p>
                    <p style="font-size: 14px; margin:0; margin-top:5px;">
                        Module: SE-166*83-455M-144
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size: 14px; font-weight: bold;">
                        <u>PROJECT ADDRESS</u>
                    </p>
                    <p style="font-size: 14px;">
                        New Address
                    </p>
                </td>
                <td style="text-align: right;">
                    <p style="font-size: 14px;">
                        Wattage: 455 W
                    </p>
                    <p style="font-size: 14px;">
                        Number of Modules: 88
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="margin-top: 265px;">

    </div>
    <table style="width: 600px; table-layout: fixed; margin: 0 auto;border-collapse: collapse;">
        <tbody>
            <tr>
                <td style="border: 1px solid #000; padding-left: 20px;">
                    <p style="font-size: 14px;"><strong>Site Location:</strong> New Address</p>
                </td>
                <td style="border: 1px solid #000; padding-left: 20px;">
                    <p style="font-size: 14px;"><strong>Design Wind Speed:</strong> 140mph</p>
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000; padding-left: 20px;">
                    <p style="font-size: 14px;"><strong>Elevation:</strong> 120 ft.</p>
                </td>
                <td style="border: 1px solid #000; padding-left: 20px;">
                    <p style="font-size: 14px;"><strong>Exposure Category:</strong> Exposure Category</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="border: 1px solid #000; padding-left: 20px;">
                    <p style="font-size: 14px;"><strong>Array:</strong> <span style="margin-left: 25px;">88
                            module</span> <span style="margin-left: 170px;">Number of PowerRacks: 176</span>
                    </p>
                    <p style="font-size: 14px; text-align: right;"> Total Ballast Weight: 144240 lbs/72.12 tons
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="margin-top: 265px; page-break-before: always;page-break-after: always;">

    </div>
    <table style="width: 600px; table-layout: fixed; margin: 0 auto;border-collapse: collapse;">
        <tbody>
            <tr>
                <td
                    style="border: 1px solid #000;padding-top: 10px; padding-left: 20px; color: #fff; background-color: #00B0EE;">
                    <p style="font-size: 14px; margin: 0;"><strong>PowerField Products</strong></p>
                    <p style="font-size: 10px;"> *Support included with the PowerRack
                    </p>
                </td>
                <td style="border: 1px solid #000; padding-left: 20px; background-color: #ddd;">
                    <p style="font-size: 14px; text-align: right;"><strong>QTY</strong></p>
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000; padding-left: 20px;">
                    <p style="font-size: 14px;"><strong>PowerRack</strong></p>
                </td>
                <td style="border: 1px solid #000; padding-left: 20px; text-align: right;">
                    <p style="font-size: 14px;">176</p>
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000; padding-left: 20px;">
                    <p style="font-size: 14px;"><strong>Module Size Adapter</strong></p>
                </td>
                <td style="border: 1px solid #000; padding-left: 20px;text-align: right;">
                    <p style="font-size: 14px;">352</p>
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000; padding-left: 20px;">
                    <p style="font-size: 14px;"><strong>Mounting Retainer</strong></p>
                </td>
                <td style="border: 1px solid #000; padding-left: 20px;text-align: right;">
                    <p style="font-size: 14px;">352</p>
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000; padding-left: 20px;">
                    <p style="font-size: 14px;"><strong>Retainer Tabs</strong></p>
                </td>
                <td style="border: 1px solid #000; padding-left: 20px;text-align: right;">
                    <p style="font-size: 14px;">352</p>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pdf</title>
    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        @page {
            size: A4;
            margin: 11mm 17mm 17mm 17mm;
        }
        .body-table {
            width: 59%; /* Set the width to 80% */
            margin: 0 auto;
            overflow: hidden;
            table-layout: fixed;
            page-break-after: always;
        }
        .center-content {
            /* text-align: center;
            vertical-align: middle; */
        }
    </style>
</head>

<body>
    <table class="body-table">
        <thead>
            <tr>
                <th colspan="2" style="text-align: left;">
                    <img src="logo.png" alt="logo" width="350px">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" style="text-align: center; border-bottom:2px solid #a7a7a7; padding-bottom: 20px;" class="center-content">
                    <h3 style="margin: 0;">PowerField Energy</h3>
                    <p style="font-size: 14px; margin: 0;margin-top:10px;">301 Park AVE Site 100</p>
                    <p style="font-size: 14px; margin: 0; margin-top:10px;">Fallas Church, VA 22046</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding-top: 20px;" class="center-content">
                    <p style="font-size: 14px; margin: 0; font-weight: bold;">PowerRack Array- Product List</p>
                    <p style="font-size: 14px;color: #00B0EE;">Project:Test</p>
                </td>
            </tr>
            <tr>
                <td class="center-content">
                    <p style="font-size: 14px; font-weight: bold;">
                        <u>PREPARED FOR</u>
                    </p>
                    <p style="font-size: 14px; ">
                        Company Name
                    </p>
                    <p style="font-size: 14px; ">
                        Uday Veer
                    </p>
                </td>
                <td style="text-align: right;" class="center-content">
                    <p style="font-size: 14px; font-weight: bold;margin: 0;">
                        <u>PREPARED DATE</u>
                    </p>
                    <p style="font-size: 14px; margin:0; margin-top:5px;">
                        27/09/23
                    </p>
                    <p style="font-size: 14px; font-weight: bold;margin:0; margin-top:5px;">
                        <u>SYSTEM SIZE</u>
                    </p>
                    <p style="font-size: 14px; margin:0; margin-top: 5px;">
                        40.04kw
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right;" class="center-content">
                    <p style="font-size: 14px; font-weight: bold;">
                        <u>
                            MODULE
                        </u>
                    </p>
                    <p style="font-size: 14px; margin:0; margin-top:5px;">
                        Manufacturer: Solarever USA
                    </p>
                    <p style="font-size: 14px; margin:0; margin-top:5px;">
                        Module: SE-166*83-455M-144
                    </p>
                </td>
            </tr>
            <tr>
                <td class="center-content">
                    <p style="font-size: 14px; font-weight: bold;">
                        <u>PROJECT ADDRESS</u>
                    </p>
                    <p style="font-size: 14px;">
                        New Address
                    </p>
                </td>
                <td style="text-align: right;" class="center-content">
                    <p style="font-size: 14px;">
                        Wattage: 455 W
                    </p>
                    <p style="font-size: 14px;">
                        Number of Modules: 88
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="margin-top: 400px;">

    </div>
    <table class="body-table">
        <tbody>
            <tr>
                <td style="border: 1px solid #000; padding-left: 20px;" class="center-content">
                    <p style="font-size: 14px;"><strong>Site Location:</strong> New Address</p>
                </td>
                <td style="border: 1px solid #000; padding-left: 20px;" class="center-content">
                    <p style="font-size: 14px;"><strong>Design Wind Speed:</strong> 140mph</p>
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000; padding-left: 20px;" class="center-content">
                    <p style="font-size: 14px;"><strong>Elevation:</strong> 120 ft.</p>
                </td>
                <td style="border: 1px solid #000; padding-left: 20px;" class="center-content">
                    <p style="font-size: 14px;"><strong>Exposure Category:</strong> Exposure Category</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="border: 1px solid #000; padding-left: 20px;" class="center-content">
                    <p style="font-size: 14px;"><strong>Array:</strong> <span style="margin-left: 25px;">88
                            module</span> <span style="margin-left: 170px;">Number of PowerRacks: 176</span>
                    </p>
                    <p style="font-size: 14px; text-align: right;"> Total Ballast Weight: 144240 lbs/72.12 tons
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="body-table">

    </div>
    <table class="body-table">
        <tbody>
            <tr>
                <td
                    style="border: 1px solid #000;padding-top: 10px; padding-left: 20px; color: #fff; background-color: #00B0EE;" class="center-content">
                    <p style="font-size: 14px; margin: 0;"><strong>PowerField Products</strong></p>
                    <p style="font-size: 10px;"> *Support included with the PowerRack
                    </p>
                </td>
                <td style="border: 1px solid #000; padding-left: 20px; background-color: #ddd;" class="center-content">
                    <p style="font-size: 14px; text-align: right;"><strong>QTY</strong></p>
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000; padding-left: 20px;" class="center-content">
                    <p style="font-size: 14px;"><strong>PowerRack</strong></p>
                </td>
                <td style="border: 1px solid #000; padding-left: 20px; text-align: right;" class="center-content">
                    <p style="font-size: 14px;">176</p>
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000; padding-left: 20px;" class="center-content">
                    <p style="font-size: 14px;"><strong>Module Size Adapter</strong></p>
                </td>
                <td style="border: 1px solid #000; padding-left: 20px;text-align: right;" class="center-content">
                    <p style="font-size: 14px;">352</p>
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000; padding-left: 20px;" class="center-content">
                    <p style="font-size: 14px;"><strong>Mounting Retainer</strong></p>
                </td>
                <td style="border: 1px solid #000; padding-left: 20px;text-align: right;" class="center-content">
                    <p style="font-size: 14px;">352</p>
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000; padding-left: 20px;" class="center-content">
                    <p style="font-size: 14px;"><strong>Retainer Tabs</strong></p>
                </td>
                <td style="border: 1px solid #000; padding-left: 20px;text-align: right;" class="center-content">
                    <p style="font-size: 14px;">352</p>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>

<!-- <p>{{ receivedData.message }}</p> -->